In [35]:
#Importing required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.io as pio
import plotly.graph_objects as go
import os
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.decomposition import PCA

#printing all outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#Suppressing warnings
import warnings
warnings.simplefilter(action = "ignore")

In [36]:
#Importing cleaned datasets
hse = pd.read_csv("./Datasets/Cleaned_HSE.csv", index_col = 0)
ab = pd.read_csv("./Datasets/Cleaned_AlphaBeta.csv", index_col = 0)
formdata = pd.read_csv("./Datasets/Cleaned_formdata.csv", index_col = 0)
named_crew_participation = pd.read_csv("./Datasets/Cleaned_named_crew_participation.csv", index_col = 0)
POB_HSE = pd.read_csv("./Datasets/Cleaned_POB_HSE.csv", index_col = 0)
rm = pd.read_csv("./Datasets/RigManager.csv", index_col = 0)

hse.head()
ab.head()
formdata.head()
named_crew_participation.head()
POB_HSE.head()
rm.head()

,Date,Rig Name,Form ID,Event Description,IADC Injury Classification,year,month,month_name,day,day_name,year_month
0,2022-03-10,Noble Tom Madden,20220310111010,"On 10-Mar-2022 at 0730 hrs., the drill crew wa...",First Aid Incident,2022,3,March,10,Thursday,2022-03
1,2022-02-26,Noble Tom Madden,20220227060042,?A JSL Roustabout reported tothe rigdoctor and...,First Aid Incident,2022,2,February,26,Saturday,2022-02
2,2022-01-17,Noble Globetrotter I,20220117074905,?An employee reported to the Medic with a smal...,First Aid Incident,2022,1,January,17,Monday,2022-01
3,2022-01-01,Noble Sam Croft,20220101100936,?A catering employee reported to his superviso...,First Aid Incident,2022,1,January,1,Saturday,2022-01
4,2022-01-05,Noble Don Taylor,20220105222836,While manually handling a piece of metal grati...,First Aid Incident,2022,1,January,5,Wednesday,2022-01

,Rig,Category,Company,Position,Alpha,Beta,Days_Worked,Total_Cards,Processed_Date,year,month,month_name,day,day_name,year_month
0,Noble Bob Douglas,Operator Services,Halliburton,Data Engineer,-1.542964,0.0,71,0,2021-01-01,2021,1,January,1,Friday,2021-01
1,Noble Regina Allen,Noble National,Noble,Painter,-1.542964,0.0,21,0,2021-01-01,2021,1,January,1,Friday,2021-01
2,Noble Regina Allen,Operator Services,Other,OTSL,-1.542964,0.0,14,0,2021-01-01,2021,1,January,1,Friday,2021-01
3,Noble Tom Madden,Noble Personnel,Noble,Rig Maintenance Supervisor,-1.542964,0.0,45,0,2021-01-01,2021,1,January,1,Friday,2021-01
4,Noble Tom Madden,Operator Services,MI Swaco,Es Specialist,-1.542964,0.0,17,0,2021-01-01,2021,1,January,1,Friday,2021-01

,Rig,Rig_Area,Submission_Date,Shift,Department,Risk_Level,Unsafe_Action,Unsafe_Condition,Unsafe_Condition_Corrected,User_Type,...,iHazard_Description,iAction_Taken,Translation_Status,Translation_ts,year,month,month_name,day,day_name,year_month
0,Dev,2,2020-10-04,D,9,Medium,0,0,0,Noble,...,1,0,1,NaN,2020,10,October,4,Sunday,2020-10
1,Dev,28,2020-10-06,D,3,Medium,1,1,1,Noble,...,1,0,1,NaN,2020,10,October,6,Tuesday,2020-10
2,Dev,1,2020-10-06,D,1,Medium,0,1,0,Noble,...,1,0,1,NaN,2020,10,October,6,Tuesday,2020-10
3,Noble Lloyd Noble,1,2020-10-06,D,7,Medium,1,0,1,Noble,...,1,1,1,2021-02-19 12:16:30.313,2020,10,October,6,Tuesday,2020-10
4,Dev,1,2020-10-07,D,6,Low,1,0,0,Noble,...,1,0,1,NaN,2020,10,October,7,Wednesday,2020-10

,RowId,Date,Rig_Name,Category,Company,Count,year,month,month_name,day,day_name
0,110610,2021-01-01,NBD,Catering,JSL,0,2021,1,January,1,Friday
1,111832,2021-01-01,NRL,Noble National,NOBLE,0,2021,1,January,1,Friday
2,111831,2021-01-01,NRL,Noble National,NOBLE,0,2021,1,January,1,Friday
3,111830,2021-01-01,NRL,Noble National,NOBLE,1,2021,1,January,1,Friday
4,111829,2021-01-01,NRL,Noble National,NOBLE,1,2021,1,January,1,Friday

,Rig,Crew_Category,Rig_Type,Operator,Region,Date,WorkdayId,Company,ArrivalDate,DepartureDate,POB_UID,Last_Edit_Date,Inserted_TS,Position,Well Name
0,Noble Don Taylor,Noble National,DS,ESSO Exploration and Production Guyana Limited,South America,2020-10-01 00:00:00,145074.0,NOBLE,2020-09-04 09:00:00,2020-10-29 00:00:00,2c9e809374c719140174e2b13f480c28,2020-10-02 00:14:04.667,2022-01-17 16:08:15.950,Roustabout,LIZ-3P21
1,Noble Don Taylor,Noble Services,DS,ESSO Exploration and Production Guyana Limited,South America,2020-10-01 00:00:00,401300.0,Other,2020-09-30 07:10:00,2020-11-30 00:00:00,2c9e809374c719140174e2b13f600c2a,2020-10-02 00:14:04.180,2022-01-17 16:08:15.950,Globe Riser-Technician,LIZ-3P21
2,Noble Don Taylor,Operator,DS,ESSO Exploration and Production Guyana Limited,South America,2020-10-01 00:00:00,400565.0,ExxonMobil,2020-09-30 07:10:00,2020-11-30 00:00:00,2c9e809374c719140174e2b13f650c2c,2020-10-02 00:14:04.400,2022-01-17 16:08:15.950,Ops Supervisor,LIZ-3P21
3,Noble Don Taylor,Noble Services,DS,ESSO Exploration and Production Guyana Limited,South America,2020-10-01 00:00:00,401301.0,Other,2020-09-30 07:10:00,2020-11-30 00:00:00,2c9e809374c719140174e2b13f6a0c2e,2020-10-02 00:14:04.993,2022-01-17 16:08:15.950,Globe Riser-Technician,LIZ-3P21
4,Noble Don Taylor,Noble Services,DS,ESSO Exploration and Production Guyana Limited,South America,2020-10-01 00:00:00,401202.0,Other,2020-09-30 07:10:00,2020-11-30 00:00:00,2c9e809374c719140174e2b13f700c30,2020-10-02 00:14:04.587,2022-01-17 16:08:15.950,Techniocian,LIZ-3P21

,Rig_Name,Count,Count_Low_Risk,Count_Medium_Risk,Count_High_Risk,Count_Unsafe_Action,Count_Unsafe_Condition,Count_Unsafe_Condition_Corrected,Count_Action_Taken,Count_Positive_Observation
Date,,,,,,,,,,
2020-10-01,NBD,0,0,0,0,0,0,0,0,0
2020-10-02,NBD,0,0,0,0,0,0,0,0,0
2020-10-03,NBD,0,0,0,0,0,0,0,0,0
2020-10-04,NBD,0,0,0,0,0,0,0,0,0
2020-10-05,NBD,0,0,0,0,0,0,0,0,0

**Manipulations with the Health Safety Environment (HSE) dataset.**

In [37]:
hse = pd.read_csv("./Datasets/Cleaned_HSE.csv", index_col = 0)
hse.head(40)

,Date,Rig Name,Form ID,Event Description,IADC Injury Classification,year,month,month_name,day,day_name,year_month
0,2022-03-10,Noble Tom Madden,20220310111010,"On 10-Mar-2022 at 0730 hrs., the drill crew wa...",First Aid Incident,2022,3,March,10,Thursday,2022-03
1,2022-02-26,Noble Tom Madden,20220227060042,?A JSL Roustabout reported tothe rigdoctor and...,First Aid Incident,2022,2,February,26,Saturday,2022-02
2,2022-01-17,Noble Globetrotter I,20220117074905,?An employee reported to the Medic with a smal...,First Aid Incident,2022,1,January,17,Monday,2022-01
3,2022-01-01,Noble Sam Croft,20220101100936,?A catering employee reported to his superviso...,First Aid Incident,2022,1,January,1,Saturday,2022-01
4,2022-01-05,Noble Don Taylor,20220105222836,While manually handling a piece of metal grati...,First Aid Incident,2022,1,January,5,Wednesday,2022-01
5,2022-03-06,Noble Faye Kozack,20220306170351,"Tripping in the hole with 5(7/8)"" DP was pause...",Restricted Work Incident,2022,3,March,6,Sunday,2022-03
6,2022-01-15,Noble Globetrotter I,20220115203220,"?On January 15, 2022 at approximately 1930 p.m...",Evaluation Only,2022,1,January,15,Saturday,2022-01
7,2022-03-12,Noble Tom Madden,20220312113501,"On 12-Mar-2022 at 1015 hours, while lowering t...",Restricted Work Incident,2022,3,March,12,Saturday,2022-03
8,2022-03-12,Noble Globetrotter I,20220312171131,At 16:40 on 3/12/22 a third-party employee rep...,First Aid Incident,2022,3,March,12,Saturday,2022-03
9,2022-01-12,Noble Tom Prosser,20220112012947,?Operator contractor employee while working on...,First Aid Incident,2022,1,January,12,Wednesday,2022-01
10,2022-01-07,Noble Stanley Lafosse,20220107184325,?Team member was stepping up on the LMRP to gr...,First Aid Incident,2022,1,January,7,Friday,2022-01
11,2022-03-09,Noble Don Taylor,20220309100659,At 10:50 am on 3/9/22 a third-party employee w...,First Aid Incident,2022,3,March,9,Wednesday,2022-03
12,2022-02-09,Noble Tom Madden,20220210040404,?JSL employee reported to the clinic stating s...,First Aid Incident,2022,2,February,9,Wednesday,2022-02
13,2022-03-27,Noble Tom Prosser,20220327054418,"?Noble service employee was servicing a room, ...",First Aid Incident,2022,3,March,27,Sunday,2022-03
14,2022-02-08,Noble Tom Prosser,20220209182136,"?At 1:10pm on the 8th February 2022, a Floorma...",Medical Treatment Only,2022,2,February,8,Tuesday,2022-02
15,2022-03-25,Noble Tom Prosser,20220325205216,?Client 3rd Party Schlumberger crew member was...,First Aid Incident,2022,3,March,25,Friday,2022-03
16,2022-03-18,Noble Globetrotter I,20220319065919,?On 03/18/22 at1300hrs. Noble employee reporte...,Evaluation Only,2022,3,March,18,Friday,2022-03
17,2022-01-17,Noble Regina Allen,20220118061638,"?On 17th January, 2022, atapproximately 10:30H...",First Aid Incident,2022,1,January,17,Monday,2022-01
18,2022-01-08,Noble Stanley Lafosse,20220109011820,?Individual was in the process of landing a to...,First Aid Incident,2022,1,January,8,Saturday,2022-01
19,2022-01-23,Noble Regina Allen,20220123145449,"?On the 23rd January, 2022, at approximately 1...",First Aid Incident,2022,1,January,23,Sunday,2022-01
20,2022-01-25,Noble Don Taylor,20220125045418,"?At 0530 on Jan. 25th, 2022 a third-party empl...",First Aid Incident,2022,1,January,25,Tuesday,2022-01
21,2022-01-28,Noble Gerry de Souza,20220128082114,"?On the 28th January 2022, at approximately12:...",Medical Treatment Only,2022,1,January,28,Friday,2022-01
22,2022-02-14,Noble Lloyd Noble,20220214075817,"?On 14th of Februaryat around 09:00, two membe...",Medical Treatment Only,2022,2,February,14,Monday,2022-02
23,2021-08-28,Noble Globetrotter II,20210829214401,A Noble Employee was on the Bridge when the ri...,First Aid Incident,2021,8,August,28,Saturday,2021-08
24,2021-11-27,Noble Globetrotter II,20211127070809,?On 11/27 around 07:00 ESS employee reported t...,First Aid Incident,2021,11,November,27,Saturday,2021-11
25,2021-11-30,Noble Globetrotter II,20211130070638,?On 11/30 around 02:00 employee was squatting ...,First Aid Incident,2021,11,November,30,Tuesday,2021-11
26,2021-11-30,Noble Globetrotter I,20211130055221,"On 11.30.21, NobleEmployee was assisting the S...",Restricted Work Incident,2021,11,November,30,Tuesday,2021-11
27,2021-08-24,Noble Globetrotter I,20210825063954,"?On 8.24.21 at 1600LT,Noble Service Employee r...",First Aid Incident,2021,8,August,24,Tuesday,2021-08
28,2021-11-29,Noble Lloyd Noble,20211130084628,?On the 29th November. A crew member was to mi...,Restricted Work Incident,2021,11,November,29,Monday,2021-11
29,2021-11-27,Noble Globetrotter II,20211127071221,?On 11/27 around 07:00 ESS employee reported t...,First Aid Incident,2021,11,November,27,Saturday,2021-11
30,2021-11-25,Noble Stanley Lafosse,20211126000244,?IP was changing out a battery on the cement h...,First Aid Incident,2021,11,November,25,Thursday,2021-11
31,2021-11-26,Noble Globetrotter II,20211126111206,?On 11/26 around 10:00 ESS employee reported t...,First Aid Incident,2021,11,November,26,Friday,2021-11
32,2021-08-26,Noble Lloyd Noble,20210826102506,"?On the 26th 0f August at 9:15 AM, ashipyard w...",First Aid Incident,2021,8,August,26,Thursday,2021-08
33,2021-08-28,Noble Globetrotter II,20210829205304,?A Noble Employee slipped and slid across the ...,First Aid Incident,2021,8,August,28,Saturday,2021-08
34,2021-11-23,Noble Globetrotter II,20211123175133,"?Around 17:00 on 11/23, employee reported to r...",First Aid Incident,2021,11,November,23,Tuesday,2021-11
35,2021-08-29,Noble Globetrotter II,20210830120008,?Noble Employee reported to the rig Hospital c...,First Aid Incident,2021,8,August,29,Sunday,2021-08
36,2021-08-29,Noble Globetrotter II,20210831035704,?An Operator employee was on the Bridge when t...,First Aid Incident,2021,8,August,29,Sunday,2021-08
37,2021-09-30,Noble Globetrotter I,20210930100745,"?On 09/30/2021 at 0950, Deck crew was in the p...",Restricted Work Incident,2021,9,September,30,Thursday,2021-09
38,2021-12-14,Noble Sam Croft,20211214211708,?On 12/14/2021 at approximately 19:40 a third ...,First Aid Incident,2021,12,December,14,Tuesday,2021-12
39,2021-08-29,Noble Globetrotter II,20210903102938,?Noble personnel reported to rig Hospital comp...,First Aid Incident,2021,8,August,29,Sunday,2021-08

In [38]:
#Code to use for Ordinal Encoder
injury_type = hse[["IADC Injury Classification"]]
injury_type.head(10)

from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder()
injury_type_encoded = ordinal_encoder.fit_transform(injury_type)
injury_type_encoded[:10]

  IADC Injury Classification
0         First Aid Incident
1         First Aid Incident
2         First Aid Incident
3         First Aid Incident
4         First Aid Incident
5   Restricted Work Incident
6            Evaluation Only
7   Restricted Work Incident
8         First Aid Incident
9         First Aid Incident

array([[1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [4.],
       [0.],
       [4.],
       [1.],
       [1.]])

In [39]:
#Code to use for OneHot Encoder
from sklearn.preprocessing import OneHotEncoder

# ohe = OneHotEncoder(use_cat_names=True)
# ohe.fit_transform(X)

cat_encoder = OneHotEncoder(sparse=False, drop=None) #drop="first"
injury_type_1hot = cat_encoder.fit_transform(injury_type)
cat_encoder.get_feature_names()

array(['x0_Evaluation Only', 'x0_First Aid Incident',
       'x0_Medical Treatment Only', 'x0_No IADC Injury Classification',
       'x0_Restricted Work Incident'], dtype=object)

In [40]:
#Convert the ndarray to a dataframe and then add it into existing df
hse = pd.concat([hse, pd.DataFrame(injury_type_1hot)], axis=1)

#renaming one hot encoding columns 
hse = hse.rename(columns={0:"Evaluation Only", 1: "First Aid Incident", 
                          2: "Medical Treatment Only", 
                          3: "No IADC Injury Classification", 
                          4: "Restricted Work Incident"})

#drop column we hot encoded to not have multicollinearity issues
hse = hse.drop(columns={"IADC Injury Classification"})
hse.head(10)

,Date,Rig Name,Form ID,Event Description,year,month,month_name,day,day_name,year_month,Evaluation Only,First Aid Incident,Medical Treatment Only,No IADC Injury Classification,Restricted Work Incident
0,2022-03-10,Noble Tom Madden,2.022031e+13,"On 10-Mar-2022 at 0730 hrs., the drill crew wa...",2022.0,3.0,March,10.0,Thursday,2022-03,0.0,1.0,0.0,0.0,0.0
1,2022-02-26,Noble Tom Madden,2.022023e+13,?A JSL Roustabout reported tothe rigdoctor and...,2022.0,2.0,February,26.0,Saturday,2022-02,0.0,1.0,0.0,0.0,0.0
2,2022-01-17,Noble Globetrotter I,2.022012e+13,?An employee reported to the Medic with a smal...,2022.0,1.0,January,17.0,Monday,2022-01,0.0,1.0,0.0,0.0,0.0
3,2022-01-01,Noble Sam Croft,2.022010e+13,?A catering employee reported to his superviso...,2022.0,1.0,January,1.0,Saturday,2022-01,0.0,1.0,0.0,0.0,0.0
4,2022-01-05,Noble Don Taylor,2.022011e+13,While manually handling a piece of metal grati...,2022.0,1.0,January,5.0,Wednesday,2022-01,0.0,1.0,0.0,0.0,0.0
5,2022-03-06,Noble Faye Kozack,2.022031e+13,"Tripping in the hole with 5(7/8)"" DP was pause...",2022.0,3.0,March,6.0,Sunday,2022-03,0.0,0.0,0.0,0.0,1.0
6,2022-01-15,Noble Globetrotter I,2.022012e+13,"?On January 15, 2022 at approximately 1930 p.m...",2022.0,1.0,January,15.0,Saturday,2022-01,1.0,0.0,0.0,0.0,0.0
7,2022-03-12,Noble Tom Madden,2.022031e+13,"On 12-Mar-2022 at 1015 hours, while lowering t...",2022.0,3.0,March,12.0,Saturday,2022-03,0.0,0.0,0.0,0.0,1.0
8,2022-03-12,Noble Globetrotter I,2.022031e+13,At 16:40 on 3/12/22 a third-party employee rep...,2022.0,3.0,March,12.0,Saturday,2022-03,0.0,1.0,0.0,0.0,0.0
9,2022-01-12,Noble Tom Prosser,2.022011e+13,?Operator contractor employee while working on...,2022.0,1.0,January,12.0,Wednesday,2022-01,0.0,1.0,0.0,0.0,0.0

In [41]:
# create new dataframe with the columns we need
df_hse_year_month = hse.groupby(["Rig Name","year","year_month"]).size().reset_index()
df_hse_year_month = df_hse_year_month.rename(columns = {0:"RM_Events_per_month"})
df_hse_year_month = df_hse_year_month.sort_values(by=["Rig Name"])
df_hse_year_month = df_hse_year_month.reset_index(drop=True)
df_hse_year_month["year"] = df_hse_year_month["year"].astype(int)
df_hse_year_month

              Rig Name  year year_month  RM_Events_per_month
0    Noble Bob Douglas  2020    2020-11                    2
1    Noble Bob Douglas  2020    2020-12                    1
2    Noble Bob Douglas  2021    2021-01                    1
3    Noble Bob Douglas  2021    2021-05                    1
4    Noble Bob Douglas  2021    2021-09                    3
..                 ...   ...        ...                  ...
137  Noble Tom Prosser  2021    2021-10                    1
138  Noble Tom Prosser  2021    2021-11                    2
139  Noble Tom Prosser  2021    2021-12                    2
140  Noble Tom Prosser  2022    2022-01                    1
141  Noble Tom Prosser  2022    2022-03                    2

[142 rows x 4 columns]

In [42]:
demo = df_hse_year_month.copy()

demo =  hse.groupby(["Rig Name","year","year_month"], as_index=False).sum()
demo = demo.drop(columns={"Form ID","month","day"})
demo = demo.sort_values(by=["Rig Name"])
demo["year"] = demo["year"] = demo["year"].astype(int)

list_name=['Evaluation Only',
 'First Aid Incident',
 'Medical Treatment Only',
 'No IADC Injury Classification',
 'Restricted Work Incident']
demo['Total_No_Events']=demo.loc[:,list_name].sum(axis=1)

demo

,Rig Name,year,year_month,Evaluation Only,First Aid Incident,Medical Treatment Only,No IADC Injury Classification,Restricted Work Incident,Total_No_Events
0,Noble Bob Douglas,2020,2020-11,0.0,2.0,0.0,0.0,0.0,2.0
1,Noble Bob Douglas,2020,2020-12,0.0,1.0,0.0,0.0,0.0,1.0
2,Noble Bob Douglas,2021,2021-01,0.0,1.0,0.0,0.0,0.0,1.0
3,Noble Bob Douglas,2021,2021-05,0.0,1.0,0.0,0.0,0.0,1.0
4,Noble Bob Douglas,2021,2021-09,0.0,3.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...
136,Noble Tom Prosser,2021,2021-10,0.0,1.0,0.0,0.0,0.0,1.0
137,Noble Tom Prosser,2021,2021-11,0.0,1.0,0.0,0.0,1.0,2.0
138,Noble Tom Prosser,2021,2021-12,0.0,2.0,0.0,0.0,0.0,2.0
139,Noble Tom Prosser,2022,2022-01,0.0,1.0,0.0,0.0,0.0,1.0
141,Noble Tom Prosser,2022,2022-03,0.0,2.0,0.0,0.0,0.0,2.0

**Manipulations with the People on Board Health Safety Environment (POB_HSE) dataset.**

In [43]:
#Convert Date column to datetime type for easier manipulations 
POB_HSE['Date']= pd.to_datetime(POB_HSE['Date'])

#Extract year and add it to new column
#POB_HSE['date_year_month'] = pd.to_datetime(POB_HSE['Date']).dt.strftime('%b-%Y')
POB_HSE['date_year_month'] = pd.to_datetime(POB_HSE['Date']).dt.strftime('%Y-%m')
POB_HSE['date_year'] = pd.to_datetime(POB_HSE['Date']).dt.year
POB_HSE['date_month'] = pd.to_datetime(POB_HSE['Date']).dt.month
POB_HSE['date_month_name'] = pd.to_datetime(POB_HSE['Date']).dt.month_name()

POB_HSE.head()

,Rig,Crew_Category,Rig_Type,Operator,Region,Date,WorkdayId,Company,ArrivalDate,DepartureDate,POB_UID,Last_Edit_Date,Inserted_TS,Position,Well Name,date_year_month,date_year,date_month,date_month_name
0,Noble Don Taylor,Noble National,DS,ESSO Exploration and Production Guyana Limited,South America,2020-10-01,145074.0,NOBLE,2020-09-04 09:00:00,2020-10-29 00:00:00,2c9e809374c719140174e2b13f480c28,2020-10-02 00:14:04.667,2022-01-17 16:08:15.950,Roustabout,LIZ-3P21,2020-10,2020,10,October
1,Noble Don Taylor,Noble Services,DS,ESSO Exploration and Production Guyana Limited,South America,2020-10-01,401300.0,Other,2020-09-30 07:10:00,2020-11-30 00:00:00,2c9e809374c719140174e2b13f600c2a,2020-10-02 00:14:04.180,2022-01-17 16:08:15.950,Globe Riser-Technician,LIZ-3P21,2020-10,2020,10,October
2,Noble Don Taylor,Operator,DS,ESSO Exploration and Production Guyana Limited,South America,2020-10-01,400565.0,ExxonMobil,2020-09-30 07:10:00,2020-11-30 00:00:00,2c9e809374c719140174e2b13f650c2c,2020-10-02 00:14:04.400,2022-01-17 16:08:15.950,Ops Supervisor,LIZ-3P21,2020-10,2020,10,October
3,Noble Don Taylor,Noble Services,DS,ESSO Exploration and Production Guyana Limited,South America,2020-10-01,401301.0,Other,2020-09-30 07:10:00,2020-11-30 00:00:00,2c9e809374c719140174e2b13f6a0c2e,2020-10-02 00:14:04.993,2022-01-17 16:08:15.950,Globe Riser-Technician,LIZ-3P21,2020-10,2020,10,October
4,Noble Don Taylor,Noble Services,DS,ESSO Exploration and Production Guyana Limited,South America,2020-10-01,401202.0,Other,2020-09-30 07:10:00,2020-11-30 00:00:00,2c9e809374c719140174e2b13f700c30,2020-10-02 00:14:04.587,2022-01-17 16:08:15.950,Techniocian,LIZ-3P21,2020-10,2020,10,October

In [44]:
POB_HSE = POB_HSE[POB_HSE["Position"]=="Rig Manager"]

In [45]:
#need to convert WorkdayId column into string

POB_HSE["WorkdayId"] = POB_HSE["WorkdayId"].astype(str)

# create new dataframe with the columns we need
df_pob_hse_year_month = POB_HSE.groupby(["Rig","date_year","date_year_month"]).size().reset_index()
df_pob_hse_year_month = df_pob_hse_year_month.rename(columns = {0:"RM_Working_Days_per_month"})
df_pob_hse_year_month = df_pob_hse_year_month.reset_index(drop=True)
df_pob_hse_year_month.head()

                 Rig  date_year date_year_month  RM_Working_Days_per_month
0  Noble Bob Douglas       2020         2020-10                         31
1  Noble Bob Douglas       2020         2020-11                         30
2  Noble Bob Douglas       2020         2020-12                         31
3  Noble Bob Douglas       2021         2021-01                         31
4  Noble Bob Douglas       2021         2021-02                         32

**Merging datasets together**

In [46]:
# merge together the two dataframes
full_pob_hse_year_month = pd.merge(df_pob_hse_year_month,df_hse_year_month,  how='left', left_on=['Rig','date_year','date_year_month'], right_on = ['Rig Name','year','year_month'])
full_pob_hse_year_month = full_pob_hse_year_month.drop(columns=["Rig Name","year","year_month"])
full_pob_hse_year_month["RM_Working_Days_per_month"] = full_pob_hse_year_month["RM_Working_Days_per_month"].fillna(0)
full_pob_hse_year_month["RM_Working_Days_per_month"] = full_pob_hse_year_month["RM_Working_Days_per_month"].astype(int)
full_pob_hse_year_month["RM_Events_per_month"] = full_pob_hse_year_month["RM_Events_per_month"].fillna(0)
full_pob_hse_year_month["RM_Events_per_month"] = full_pob_hse_year_month["RM_Events_per_month"].astype(int)
full_pob_hse_year_month = full_pob_hse_year_month.rename(columns={"date_year":"year", "date_year_month":"month_year"})
full_pob_hse_year_month.head()

,Rig,year,month_year,RM_Working_Days_per_month,RM_Events_per_month
0,Noble Bob Douglas,2020,2020-10,31,0
1,Noble Bob Douglas,2020,2020-11,30,2
2,Noble Bob Douglas,2020,2020-12,31,1
3,Noble Bob Douglas,2021,2021-01,31,1
4,Noble Bob Douglas,2021,2021-02,32,0

In [47]:
#each rig should appear 18 times. If not add a row with missing one and add 0 as value. 
from collections import Counter
Counter(full_pob_hse_year_month["Rig"])

Counter({'Noble Bob Douglas': 18,
         'Noble Clyde Boudreaux': 18,
         'Noble Don Taylor': 18,
         'Noble Faye Kozack': 9,
         'Noble Gerry de Souza': 7,
         'Noble Globetrotter I': 18,
         'Noble Globetrotter II': 18,
         'Noble Hans Deul': 15,
         'Noble Houston Colbert': 18,
         'Noble Joe Knight': 14,
         'Noble Johnny Whitstine': 14,
         'Noble Lloyd Noble': 18,
         "Noble Mick O'Brien": 18,
         'Noble Regina Allen': 18,
         'Noble Roger Lewis': 14,
         'Noble Sam Croft': 18,
         'Noble Sam Hartley': 18,
         'Noble Sam Turner': 18,
         'Noble Scott Marks': 14,
         'Noble Stanley Lafosse': 7,
         'Noble Tom Madden': 18,
         'Noble Tom Prosser': 18})

In [48]:
full_pob_hse_year_month["RM_Total_Events_120d"]=(full_pob_hse_year_month
                                              .groupby('Rig')['RM_Events_per_month']
                                              .rolling(min_periods=3, window=3, closed= "left")
                                              .sum().reset_index(0,drop=True))

full_pob_hse_year_month["RM_Total_WorkingDays_120d"]=(full_pob_hse_year_month
                                              .groupby('Rig')['RM_Working_Days_per_month']
                                              .rolling(min_periods=3, window=3, closed= "left")
                                              .sum().reset_index(0,drop=True))


full_pob_hse_year_month = full_pob_hse_year_month.drop(columns={"RM_Working_Days_per_month","RM_Events_per_month"})

In [49]:
# create new column "Incidents_per_day"
full_pob_hse_year_month["RM_Incidents_per_day"] = full_pob_hse_year_month["RM_Total_Events_120d"]/full_pob_hse_year_month["RM_Total_WorkingDays_120d"]
full_pob_hse_year_month.head()

,Rig,year,month_year,RM_Total_Events_120d,RM_Total_WorkingDays_120d,RM_Incidents_per_day
0,Noble Bob Douglas,2020,2020-10,NaN,NaN,NaN
1,Noble Bob Douglas,2020,2020-11,NaN,NaN,NaN
2,Noble Bob Douglas,2020,2020-12,NaN,NaN,NaN
3,Noble Bob Douglas,2021,2021-01,3.0,92.0,0.032609
4,Noble Bob Douglas,2021,2021-02,4.0,92.0,0.043478

**Manipulations with the ab dataset.**

In [50]:
ab = pd.read_csv("./Datasets/Cleaned_AlphaBeta.csv", index_col = 0)
ab.head()

,Rig,Category,Company,Position,Alpha,Beta,Days_Worked,Total_Cards,Processed_Date,year,month,month_name,day,day_name,year_month
0,Noble Bob Douglas,Operator Services,Halliburton,Data Engineer,-1.542964,0.0,71,0,2021-01-01,2021,1,January,1,Friday,2021-01
1,Noble Regina Allen,Noble National,Noble,Painter,-1.542964,0.0,21,0,2021-01-01,2021,1,January,1,Friday,2021-01
2,Noble Regina Allen,Operator Services,Other,OTSL,-1.542964,0.0,14,0,2021-01-01,2021,1,January,1,Friday,2021-01
3,Noble Tom Madden,Noble Personnel,Noble,Rig Maintenance Supervisor,-1.542964,0.0,45,0,2021-01-01,2021,1,January,1,Friday,2021-01
4,Noble Tom Madden,Operator Services,MI Swaco,Es Specialist,-1.542964,0.0,17,0,2021-01-01,2021,1,January,1,Friday,2021-01

In [51]:
ab = ab[ab["Position"]=="Rig Manager"]
# Potential manager positions:

# 'Assistant Rig Manager',
# 'Rig Manager',
# '3C Metal Project Manager',
# 'BHP HSE Manager',
# 'TECH MANAGER'
# 'HSE Manager',
#  'Asst Ops Manager',
# 'Training Manager',
# 'TECHNICAL MANAGER',
# 'Justin Bruner Service Manager',
# 'Site Manager',

In [52]:
#We only need to keep the first day of the month for each month. This is done 
# for the 2021 dates but not for 2022
ab = ab[ab["day"]==1]
ab = ab.reset_index(drop=True)
ab

,Rig,Category,Company,Position,Alpha,Beta,Days_Worked,Total_Cards,Processed_Date,year,month,month_name,day,day_name,year_month
0,Noble Sam Turner,Noble Personnel,Noble,Rig Manager,-1.379687,0.634677,42,4,2021-01-01,2021,1,January,1,Friday,2021-01
1,Noble Regina Allen,Noble Expat,Noble,Rig Manager,-1.542964,0.000000,13,0,2021-01-01,2021,1,January,1,Friday,2021-01
2,Noble Clyde Boudreaux,Noble Expat,Noble,Rig Manager,-1.144265,0.978235,43,10,2021-01-01,2021,1,January,1,Friday,2021-01
3,Noble Roger Lewis,Noble Expat,Noble,Rig Manager,-1.542964,0.000000,35,0,2021-01-01,2021,1,January,1,Friday,2021-01
4,Noble Regina Allen,Noble Expat,Noble,Rig Manager,-1.542964,0.000000,18,0,2021-01-01,2021,1,January,1,Friday,2021-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,Noble Lloyd Noble,Noble Personnel,Noble,Rig Manager,1.493499,1.890588,42,85,2022-03-01,2022,3,March,1,Tuesday,2022-03
861,Noble Faye Kozack,Noble Personnel,Noble,Rig Manager,-0.988414,0.540929,64,10,2022-03-01,2022,3,March,1,Tuesday,2022-03
862,Noble Lloyd Noble,Noble Personnel,Noble,Rig Manager,0.820290,2.527040,29,44,2022-03-01,2022,3,March,1,Tuesday,2022-03
863,Noble Regina Allen,Noble Expat,Noble,Rig Manager,0.088597,0.645823,60,58,2022-03-01,2022,3,March,1,Tuesday,2022-03
864,Noble Gerry de Souza,Noble Expat,Noble,Rig Manager,-0.968243,0.601774,35,6,2022-03-01,2022,3,March,1,Tuesday,2022-03

In [53]:
# create new dataframe with the columns we need
ab_year_month = ab.groupby(["Rig","year","year_month"]).size().reset_index()
ab_year_month = ab_year_month.rename(columns = {0:"No_of_Events"})
#ab_year_month = ab_year_month.sort_values(by=["year"])
ab_year_month = ab_year_month.reset_index(drop=True)
ab_year_month

                   Rig  year year_month  No_of_Events
0    Noble Bob Douglas  2021    2021-01             3
1    Noble Bob Douglas  2021    2021-02             3
2    Noble Bob Douglas  2021    2021-03             3
3    Noble Bob Douglas  2021    2021-04             3
4    Noble Bob Douglas  2021    2021-05             3
..                 ...   ...        ...           ...
298  Noble Tom Prosser  2021    2021-11             3
299  Noble Tom Prosser  2021    2021-12             4
300  Noble Tom Prosser  2022    2022-01             6
301  Noble Tom Prosser  2022    2022-02             6
302  Noble Tom Prosser  2022    2022-03             5

[303 rows x 4 columns]

In [54]:
def get_count_injury(df, cat_column):   
    count_injury = df.groupby(["Rig","year","year_month"])[cat_column].sum()
    count_injury = pd.Series(count_injury).reset_index(drop = True)
    return count_injury

ab_year_month['Alpha'] = get_count_injury(ab,"Alpha")
ab_year_month['RM_Alpha'] = ab_year_month["Alpha"]/ab_year_month["No_of_Events"]
ab_year_month['Beta'] = get_count_injury(ab,"Beta")
ab_year_month['RM_Beta'] = ab_year_month["Beta"]/ab_year_month["No_of_Events"]
ab_year_month = ab_year_month.drop(columns={"No_of_Events"})

ab_year_month = ab_year_month.drop(columns={"Alpha","Beta"})
ab_year_month

                   Rig  year year_month  RM_Alpha   RM_Beta
0    Noble Bob Douglas  2021    2021-01 -1.542964  0.000000
1    Noble Bob Douglas  2021    2021-02 -1.442960  0.000000
2    Noble Bob Douglas  2021    2021-03 -0.815789  0.638275
3    Noble Bob Douglas  2021    2021-04 -0.408140  0.915723
4    Noble Bob Douglas  2021    2021-05 -0.044404  0.973751
..                 ...   ...        ...       ...       ...
298  Noble Tom Prosser  2021    2021-11  0.280273  0.568201
299  Noble Tom Prosser  2021    2021-12 -0.050063  0.501254
300  Noble Tom Prosser  2022    2022-01 -0.680549  0.714228
301  Noble Tom Prosser  2022    2022-02 -0.573805  0.829101
302  Noble Tom Prosser  2022    2022-03 -0.653469  0.816489

[303 rows x 5 columns]

In [55]:
# v = ab[(ab["Rig"]=="Noble Bob Douglas")&(ab["year"]==2021)&(ab["year_month"]=="2021-03")]
# z = ab[(ab["Rig"]=="Noble Tom Prosser")&(ab["year"]==2022)&(ab["year_month"]=="2022-02")]

# a = v["Alpha"].sum()
# b = v["Alpha"].count()
# a
# b
# a/b

# c = z["Alpha"].sum()
# d = z["Alpha"].count()
# c
# d
# c/d

In [56]:
full_full = pd.merge(full_pob_hse_year_month,ab_year_month,  how='left', left_on=['Rig','year','month_year'], right_on = ['Rig','year','year_month'])
full_full = full_full.drop(columns=["year_month"])
full_rm = full_full.copy()
full_rm

,Rig,year,month_year,RM_Total_Events_120d,RM_Total_WorkingDays_120d,RM_Incidents_per_day,RM_Alpha,RM_Beta
0,Noble Bob Douglas,2020,2020-10,NaN,NaN,NaN,NaN,NaN
1,Noble Bob Douglas,2020,2020-11,NaN,NaN,NaN,NaN,NaN
2,Noble Bob Douglas,2020,2020-12,NaN,NaN,NaN,NaN,NaN
3,Noble Bob Douglas,2021,2021-01,3.0,92.0,0.032609,-1.542964,0.000000
4,Noble Bob Douglas,2021,2021-02,4.0,92.0,0.043478,-1.442960,0.000000
...,...,...,...,...,...,...,...,...
341,Noble Tom Prosser,2021,2021-11,5.0,92.0,0.054348,0.280273,0.568201
342,Noble Tom Prosser,2021,2021-12,6.0,91.0,0.065934,-0.050063,0.501254
343,Noble Tom Prosser,2022,2022-01,5.0,93.0,0.053763,-0.680549,0.714228
344,Noble Tom Prosser,2022,2022-02,5.0,93.0,0.053763,-0.573805,0.829101
345,Noble Tom Prosser,2022,2022-03,4.0,91.0,0.043956,-0.653469,0.816489

**Manipulations with the formdata dataset.**

In [57]:
rm = pd.read_csv("./Datasets/RigManager.csv", index_col = 0)
rm.head()

,Rig_Name,Count,Count_Low_Risk,Count_Medium_Risk,Count_High_Risk,Count_Unsafe_Action,Count_Unsafe_Condition,Count_Unsafe_Condition_Corrected,Count_Action_Taken,Count_Positive_Observation
Date,,,,,,,,,,
2020-10-01,NBD,0,0,0,0,0,0,0,0,0
2020-10-02,NBD,0,0,0,0,0,0,0,0,0
2020-10-03,NBD,0,0,0,0,0,0,0,0,0
2020-10-04,NBD,0,0,0,0,0,0,0,0,0
2020-10-05,NBD,0,0,0,0,0,0,0,0,0

In [24]:
rig_name_shortcut_rm = ['NG1', 'NMOB', 'NCB', 'NLN', 'NTP', 'NHnD', 'NToM', 'NST', 
                     'NDoT', 'NGdS', 'NBD', 'NSC', 'NSL', 'NG2', 'NRA', 'NFK', 
                     'NSH','NHC', 'NJW', 'NJK', 'NSM', 'NRL']
  
rig_name_full_rm = ['Noble Globetrotter I', "Noble Mick O'Brien",
                 'Noble Clyde Boudreaux', 'Noble Lloyd Noble', 'Noble Tom Prosser',
                 'Noble Hans Deul', 'Noble Tom Madden', 'Noble Sam Turner',
                 'Noble Don Taylor', 'Noble Gerry de Souza', 'Noble Bob Douglas',
                 'Noble Sam Croft', 'Noble Stanley Lafosse','Noble Globetrotter II',
                 'Noble Regina Allen', 'Noble Faye Kozack','Noble Sam Hartley', 
                 'Noble Houston Colbert','Noble Johnny Whitstine', 
                 'Noble Joe Knight','Noble Scott Marks', 'Noble Roger Lewis']

rm["Rig_Name"] = rm["Rig_Name"].replace(rig_name_shortcut_rm,rig_name_full_rm)

rm["Rig_Name"].unique()

array(['Noble Bob Douglas', 'Noble Clyde Boudreaux', 'Noble Don Taylor',
       'Noble Faye Kozack', 'Noble Globetrotter I',
       'Noble Globetrotter II', 'Noble Gerry de Souza',
       'Noble Houston Colbert', 'Noble Hans Deul', 'Noble Joe Knight',
       'Noble Johnny Whitstine', 'Noble Lloyd Noble',
       "Noble Mick O'Brien", 'Noble Regina Allen', 'Noble Roger Lewis',
       'Noble Sam Croft', 'Noble Sam Hartley', 'Noble Stanley Lafosse',
       'Noble Scott Marks', 'Noble Sam Turner', 'Noble Tom Madden',
       'Noble Tom Prosser'], dtype=object)

In [25]:
rm = rm.reset_index()
rm

,Date,Rig_Name,Count,Count_Low_Risk,Count_Medium_Risk,Count_High_Risk,Count_Unsafe_Action,Count_Unsafe_Condition,Count_Unsafe_Condition_Corrected,Count_Action_Taken,Count_Positive_Observation
0,2020-10-01,Noble Bob Douglas,0,0,0,0,0,0,0,0,0
1,2020-10-02,Noble Bob Douglas,0,0,0,0,0,0,0,0,0
2,2020-10-03,Noble Bob Douglas,0,0,0,0,0,0,0,0,0
3,2020-10-04,Noble Bob Douglas,0,0,0,0,0,0,0,0,0
4,2020-10-05,Noble Bob Douglas,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9976,2022-03-18,Noble Tom Prosser,2,1,1,0,2,1,2,2,0
9977,2022-03-19,Noble Tom Prosser,1,1,0,0,0,1,1,1,0
9978,2022-03-20,Noble Tom Prosser,0,0,0,0,0,0,0,0,0
9979,2022-03-21,Noble Tom Prosser,1,0,0,1,1,0,1,1,0
9980,2022-03-22,Noble Tom Prosser,3,1,2,0,3,3,1,3,0

In [26]:
#Convert Date column to datetime type 
rm['Date']= pd.to_datetime(rm['Date'])

#Extract year, month and day and add them to new columns
rm['year'] = pd.to_datetime(rm['Date']).dt.year
rm['month'] = pd.to_datetime(rm['Date']).dt.month
rm['month_name'] = pd.to_datetime(rm['Date']).dt.month_name()
rm['day'] = pd.to_datetime(rm['Date']).dt.day
rm['day_name'] = pd.to_datetime(rm['Date']).dt.day_name()
rm['year_month'] = pd.to_datetime(rm['Date']).dt.strftime('%Y-%m')

rm = rm.sort_values(by=["Date"])
rm.head()

,Date,Rig_Name,Count,Count_Low_Risk,Count_Medium_Risk,Count_High_Risk,Count_Unsafe_Action,Count_Unsafe_Condition,Count_Unsafe_Condition_Corrected,Count_Action_Taken,Count_Positive_Observation,year,month,month_name,day,day_name,year_month
0,2020-10-01,Noble Bob Douglas,0,0,0,0,0,0,0,0,0,2020,10,October,1,Thursday,2020-10
8392,2020-10-01,Noble Sam Turner,0,0,0,0,0,0,0,0,0,2020,10,October,1,Thursday,2020-10
6393,2020-10-01,Noble Roger Lewis,0,0,0,0,0,0,0,0,0,2020,10,October,1,Thursday,2020-10
9461,2020-10-01,Noble Tom Prosser,0,0,0,0,0,0,0,0,0,2020,10,October,1,Thursday,2020-10
537,2020-10-01,Noble Clyde Boudreaux,0,0,0,0,0,0,0,0,0,2020,10,October,1,Thursday,2020-10

In [27]:
a = rm[(rm["Rig_Name"]=="Noble Bob Douglas")&(rm["year_month"]=="2020-10")]
a["Count"].sum()

b = rm[(rm["Rig_Name"]=="Noble Bob Douglas")&(rm["year_month"]=="2020-11")]
b["Count"].sum()

c = rm[(rm["Rig_Name"]=="Noble Bob Douglas")&(rm["year_month"]=="2021-02")]
c["Count"].sum()

0

0

32

In [28]:
#Find the total number of each variable per month
rm_observation = rm.groupby(["Rig_Name","year","year_month"]).sum().reset_index()
rm_observation = rm_observation.drop(columns={"month","day"})

#Find the total number of each variable per month accounting the 120days
rm_observation["RM_Total_Observations_120d"]=(rm_observation
                              .groupby('Rig_Name')['Count']
                              .rolling(min_periods=3, window=3, closed= "left")
                              .sum().reset_index(0,drop=True))

rm_observation["RM_low_risk_120d"]=(rm_observation
                              .groupby('Rig_Name')['Count_Low_Risk']
                              .rolling(min_periods=3, window=3, closed= "left")
                              .sum().reset_index(0,drop=True))

rm_observation["RM_medium_risk_120d"]=(rm_observation
                              .groupby('Rig_Name')['Count_Medium_Risk']
                              .rolling(min_periods=3, window=3, closed= "left")
                              .sum().reset_index(0,drop=True))

rm_observation["RM_high_risk_120d"]=(rm_observation
                              .groupby('Rig_Name')['Count_High_Risk']
                              .rolling(min_periods=3, window=3, closed= "left")
                              .sum().reset_index(0,drop=True))

rm_observation["RM_unsafe_action_120d"]=(rm_observation
                              .groupby('Rig_Name')['Count_Unsafe_Action']
                              .rolling(min_periods=3, window=3, closed= "left")
                              .sum().reset_index(0,drop=True))

rm_observation["RM_unsafe_condition_120d"]=(rm_observation
                              .groupby('Rig_Name')['Count_Unsafe_Condition']
                              .rolling(min_periods=3, window=3, closed= "left")
                              .sum().reset_index(0,drop=True))

rm_observation["RM_unsafe_condition_corrected_120d"]=(rm_observation
                              .groupby('Rig_Name')['Count_Unsafe_Condition_Corrected']
                              .rolling(min_periods=3, window=3, closed= "left")
                              .sum().reset_index(0,drop=True))

rm_observation["RM_action_taken_120d"]=(rm_observation
                              .groupby('Rig_Name')['Count_Action_Taken']
                              .rolling(min_periods=3, window=3, closed= "left")
                              .sum().reset_index(0,drop=True))

rm_observation["RM_positive_observations_120d"]=(rm_observation
                              .groupby('Rig_Name')['Count_Positive_Observation']
                              .rolling(min_periods=3, window=3, closed= "left")
                              .sum().reset_index(0,drop=True))

rm_observation = rm_observation.drop(columns={"Count","Count_Low_Risk","Count_Medium_Risk",
                                             "Count_High_Risk","Count_Unsafe_Action",
                                              "Count_Unsafe_Condition_Corrected",
                                              "Count_Unsafe_Condition","Count_Action_Taken",
                                              "Count_Positive_Observation"})
rm_observation

,Rig_Name,year,year_month,RM_Total_Observations_120d,RM_low_risk_120d,RM_medium_risk_120d,RM_high_risk_120d,RM_unsafe_action_120d,RM_unsafe_condition_120d,RM_unsafe_condition_corrected_120d,RM_action_taken_120d,RM_positive_observations_120d
0,Noble Bob Douglas,2020,2020-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Noble Bob Douglas,2020,2020-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Noble Bob Douglas,2020,2020-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Noble Bob Douglas,2021,2021-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Noble Bob Douglas,2021,2021-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
341,Noble Tom Prosser,2021,2021-11,65.0,14.0,45.0,6.0,19.0,9.0,18.0,20.0,45.0
342,Noble Tom Prosser,2021,2021-12,63.0,11.0,43.0,9.0,20.0,14.0,21.0,24.0,40.0
343,Noble Tom Prosser,2022,2022-01,47.0,5.0,31.0,11.0,17.0,13.0,19.0,22.0,27.0
344,Noble Tom Prosser,2022,2022-02,49.0,6.0,27.0,16.0,20.0,17.0,23.0,28.0,25.0
345,Noble Tom Prosser,2022,2022-03,38.0,6.0,21.0,11.0,10.0,9.0,9.0,18.0,26.0

In [29]:
full_rm

,Rig,year,month_year,RM_Total_Events_120d,RM_Total_WorkingDays_120d,RM_Incidents_per_day,RM_Alpha,RM_Beta
0,Noble Bob Douglas,2020,2020-10,NaN,NaN,NaN,NaN,NaN
1,Noble Bob Douglas,2020,2020-11,NaN,NaN,NaN,NaN,NaN
2,Noble Bob Douglas,2020,2020-12,NaN,NaN,NaN,NaN,NaN
3,Noble Bob Douglas,2021,2021-01,3.0,92.0,0.032609,-1.542964,0.000000
4,Noble Bob Douglas,2021,2021-02,4.0,92.0,0.043478,-1.442960,0.000000
...,...,...,...,...,...,...,...,...
341,Noble Tom Prosser,2021,2021-11,5.0,92.0,0.054348,0.280273,0.568201
342,Noble Tom Prosser,2021,2021-12,6.0,91.0,0.065934,-0.050063,0.501254
343,Noble Tom Prosser,2022,2022-01,5.0,93.0,0.053763,-0.680549,0.714228
344,Noble Tom Prosser,2022,2022-02,5.0,93.0,0.053763,-0.573805,0.829101
345,Noble Tom Prosser,2022,2022-03,4.0,91.0,0.043956,-0.653469,0.816489

In [30]:
#merge the two tables together adding the new variables created
full_rm = pd.merge(full_rm,rm_observation,  how='left', left_on=['Rig','year','month_year'], right_on = ['Rig_Name','year','year_month'])
full_rm = full_rm.drop(columns=["year_month","Rig_Name"])

#create new column to find the Rig Manager report per day rate
full_rm["RM_Report_per_Day"] = full_rm["RM_Total_Observations_120d"]/full_rm["RM_Total_WorkingDays_120d"]
full_rm.head(10)

,Rig,year,month_year,RM_Total_Events_120d,RM_Total_WorkingDays_120d,RM_Incidents_per_day,RM_Alpha,RM_Beta,RM_Total_Observations_120d,RM_low_risk_120d,RM_medium_risk_120d,RM_high_risk_120d,RM_unsafe_action_120d,RM_unsafe_condition_120d,RM_unsafe_condition_corrected_120d,RM_action_taken_120d,RM_positive_observations_120d,RM_Report_per_Day
0,Noble Bob Douglas,2020,2020-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Noble Bob Douglas,2020,2020-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Noble Bob Douglas,2020,2020-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Noble Bob Douglas,2021,2021-01,3.0,92.0,0.032609,-1.542964,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,Noble Bob Douglas,2021,2021-02,4.0,92.0,0.043478,-1.442960,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
5,Noble Bob Douglas,2021,2021-03,2.0,94.0,0.021277,-0.815789,0.638275,32.0,14.0,18.0,0.0,1.0,0.0,1.0,32.0,29.0,0.340426
6,Noble Bob Douglas,2021,2021-04,1.0,94.0,0.010638,-0.408140,0.915723,84.0,45.0,39.0,0.0,3.0,4.0,4.0,80.0,76.0,0.893617
7,Noble Bob Douglas,2021,2021-05,0.0,93.0,0.000000,-0.044404,0.973751,116.0,77.0,39.0,0.0,4.0,5.0,4.0,111.0,106.0,1.247312
8,Noble Bob Douglas,2021,2021-06,1.0,92.0,0.010870,0.067696,0.851494,115.0,91.0,24.0,0.0,4.0,5.0,3.0,110.0,107.0,1.250000
9,Noble Bob Douglas,2021,2021-07,1.0,93.0,0.010753,0.286694,0.787907,92.0,86.0,6.0,0.0,3.0,1.0,0.0,91.0,89.0,0.989247

### Risk level columns

In [31]:
full_rm

,Rig,year,month_year,RM_Total_Events_120d,RM_Total_WorkingDays_120d,RM_Incidents_per_day,RM_Alpha,RM_Beta,RM_Total_Observations_120d,RM_low_risk_120d,RM_medium_risk_120d,RM_high_risk_120d,RM_unsafe_action_120d,RM_unsafe_condition_120d,RM_unsafe_condition_corrected_120d,RM_action_taken_120d,RM_positive_observations_120d,RM_Report_per_Day
0,Noble Bob Douglas,2020,2020-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Noble Bob Douglas,2020,2020-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Noble Bob Douglas,2020,2020-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Noble Bob Douglas,2021,2021-01,3.0,92.0,0.032609,-1.542964,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,Noble Bob Douglas,2021,2021-02,4.0,92.0,0.043478,-1.442960,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,Noble Tom Prosser,2021,2021-11,5.0,92.0,0.054348,0.280273,0.568201,65.0,14.0,45.0,6.0,19.0,9.0,18.0,20.0,45.0,0.706522
342,Noble Tom Prosser,2021,2021-12,6.0,91.0,0.065934,-0.050063,0.501254,63.0,11.0,43.0,9.0,20.0,14.0,21.0,24.0,40.0,0.692308
343,Noble Tom Prosser,2022,2022-01,5.0,93.0,0.053763,-0.680549,0.714228,47.0,5.0,31.0,11.0,17.0,13.0,19.0,22.0,27.0,0.505376
344,Noble Tom Prosser,2022,2022-02,5.0,93.0,0.053763,-0.573805,0.829101,49.0,6.0,27.0,16.0,20.0,17.0,23.0,28.0,25.0,0.526882
345,Noble Tom Prosser,2022,2022-03,4.0,91.0,0.043956,-0.653469,0.816489,38.0,6.0,21.0,11.0,10.0,9.0,9.0,18.0,26.0,0.417582

In [32]:
# Get the percentage for each risk level
full_rm["RM_High_risk_percentage_120d"] = full_rm["RM_high_risk_120d"] / (full_rm["RM_high_risk_120d"]+full_rm["RM_low_risk_120d"] + full_rm["RM_medium_risk_120d"])
full_rm["RM_Low_risk_percentage_120d"] = full_rm["RM_low_risk_120d"] / (full_rm["RM_high_risk_120d"]+full_rm["RM_low_risk_120d"] + full_rm["RM_medium_risk_120d"])
full_rm["RM_Medium_risk_percentage_120d"] = full_rm["RM_medium_risk_120d"] / (full_rm["RM_high_risk_120d"]+full_rm["RM_low_risk_120d"] + full_rm["RM_medium_risk_120d"])

full_rm = full_rm.drop(columns={"RM_high_risk_120d","RM_low_risk_120d","RM_medium_risk_120d"})

full_rm.head(60)

,Rig,year,month_year,RM_Total_Events_120d,RM_Total_WorkingDays_120d,RM_Incidents_per_day,RM_Alpha,RM_Beta,RM_Total_Observations_120d,RM_unsafe_action_120d,RM_unsafe_condition_120d,RM_unsafe_condition_corrected_120d,RM_action_taken_120d,RM_positive_observations_120d,RM_Report_per_Day,RM_High_risk_percentage_120d,RM_Low_risk_percentage_120d,RM_Medium_risk_percentage_120d
0,Noble Bob Douglas,2020,2020-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Noble Bob Douglas,2020,2020-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Noble Bob Douglas,2020,2020-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Noble Bob Douglas,2021,2021-01,3.0,92.0,0.032609,-1.542964,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,NaN,NaN,NaN
4,Noble Bob Douglas,2021,2021-02,4.0,92.0,0.043478,-1.442960,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,NaN,NaN,NaN
5,Noble Bob Douglas,2021,2021-03,2.0,94.0,0.021277,-0.815789,0.638275,32.0,1.0,0.0,1.0,32.0,29.0,0.340426,0.000000,0.437500,0.562500
6,Noble Bob Douglas,2021,2021-04,1.0,94.0,0.010638,-0.408140,0.915723,84.0,3.0,4.0,4.0,80.0,76.0,0.893617,0.000000,0.535714,0.464286
7,Noble Bob Douglas,2021,2021-05,0.0,93.0,0.000000,-0.044404,0.973751,116.0,4.0,5.0,4.0,111.0,106.0,1.247312,0.000000,0.663793,0.336207
8,Noble Bob Douglas,2021,2021-06,1.0,92.0,0.010870,0.067696,0.851494,115.0,4.0,5.0,3.0,110.0,107.0,1.250000,0.000000,0.791304,0.208696
9,Noble Bob Douglas,2021,2021-07,1.0,93.0,0.010753,0.286694,0.787907,92.0,3.0,1.0,0.0,91.0,89.0,0.989247,0.000000,0.934783,0.065217
10,Noble Bob Douglas,2021,2021-08,1.0,95.0,0.010526,0.066898,0.697825,89.0,10.0,9.0,4.0,86.0,79.0,0.936842,0.056180,0.865169,0.078652
11,Noble Bob Douglas,2021,2021-09,0.0,95.0,0.000000,-0.114676,0.753059,72.0,11.0,13.0,7.0,69.0,57.0,0.757895,0.069444,0.875000,0.055556
12,Noble Bob Douglas,2021,2021-10,3.0,93.0,0.032258,-0.364509,0.777867,43.0,10.0,13.0,7.0,40.0,28.0,0.462366,0.116279,0.860465,0.023256
13,Noble Bob Douglas,2021,2021-11,4.0,92.0,0.043478,-0.542790,0.406205,37.0,5.0,8.0,8.0,33.0,25.0,0.402174,0.000000,0.918919,0.081081
14,Noble Bob Douglas,2021,2021-12,4.0,91.0,0.043956,-0.325712,0.314871,53.0,9.0,9.0,9.0,49.0,36.0,0.582418,0.000000,0.452830,0.547170
15,Noble Bob Douglas,2022,2022-01,1.0,92.0,0.010870,-0.294144,0.339114,85.0,11.0,24.0,25.0,80.0,52.0,0.923913,0.000000,0.576471,0.423529
16,Noble Bob Douglas,2022,2022-02,0.0,92.0,0.000000,0.052877,0.562486,91.0,13.0,23.0,26.0,90.0,57.0,0.989130,0.010989,0.362637,0.626374
17,Noble Bob Douglas,2022,2022-03,0.0,90.0,0.000000,0.179041,0.627819,98.0,11.0,40.0,42.0,96.0,49.0,1.088889,0.010204,0.632653,0.357143
18,Noble Clyde Boudreaux,2020,2020-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Noble Clyde Boudreaux,2020,2020-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Noble Clyde Boudreaux,2020,2020-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Noble Clyde Boudreaux,2021,2021-01,0.0,92.0,0.000000,-1.343615,0.489117,10.0,0.0,3.0,0.0,4.0,7.0,0.108696,0.000000,0.700000,0.300000
22,Noble Clyde Boudreaux,2021,2021-02,0.0,92.0,0.000000,-0.889444,0.623830,21.0,1.0,7.0,3.0,9.0,13.0,0.228261,0.000000,0.761905,0.238095
23,Noble Clyde Boudreaux,2021,2021-03,0.0,90.0,0.000000,-0.416426,0.620645,37.0,4.0,8.0,7.0,12.0,25.0,0.411111,0.000000,0.864865,0.135135
24,Noble Clyde Boudreaux,2021,2021-04,0.0,90.0,0.000000,-0.429531,0.544881,46.0,4.0,10.0,7.0,14.0,32.0,0.511111,0.000000,0.869565,0.130435
25,Noble Clyde Boudreaux,2021,2021-05,0.0,94.0,0.000000,-0.309449,0.571055,45.0,7.0,11.0,9.0,18.0,29.0,0.478723,0.000000,0.777778,0.222222
26,Noble Clyde Boudreaux,2021,2021-06,0.0,97.0,0.000000,-0.356027,0.563048,37.0,14.0,20.0,19.0,29.0,15.0,0.381443,0.054054,0.405405,0.540541
27,Noble Clyde Boudreaux,2021,2021-07,1.0,96.0,0.010417,-0.481196,0.566164,56.0,19.0,29.0,28.0,43.0,21.0,0.583333,0.053571,0.571429,0.375000
28,Noble Clyde Boudreaux,2021,2021-08,1.0,92.0,0.010870,0.187911,1.168876,106.0,27.0,46.0,46.0,67.0,45.0,1.152174,0.028302,0.754717,0.216981
29,Noble Clyde Boudreaux,2021,2021-09,1.0,92.0,0.010870,0.175294,0.938136,121.0,42.0,49.0,43.0,78.0,48.0,1.315217,0.016529,0.702479,0.280992
30,Noble Clyde Boudreaux,2021,2021-10,1.0,92.0,0.010870,-0.042714,0.714651,126.0,51.0,53.0,50.0,93.0,51.0,1.369565,0.007937,0.674603,0.317460
31,Noble Clyde Boudreaux,2021,2021-11,2.0,92.0,0.021739,0.522369,1.034780,102.0,42.0,45.0,40.0,79.0,44.0,1.108696,0.009804,0.666667,0.323529
32,Noble Clyde Boudreaux,2021,2021-12,2.0,91.0,0.021978,0.269164,1.109309,102.0,23.0,45.0,47.0,70.0,51.0,1.120879,0.000000,0.833333,0.166667
33,Noble Clyde Boudreaux,2022,2022-01,1.0,92.0,0.010870,0.353251,1.208786,108.0,17.0,40.0,44.0,65.0,62.0,1.173913,0.000000,0.907407,0.092593
34,Noble Clyde Boudreaux,2022,2022-02,0.0,93.0,0.000000,0.319135,1.281534,107.0,18.0,38.0,43.0,67.0,63.0,1.150538,0.000000,0.897196,0.102804
35,Noble Clyde Boudreaux,2022,2022-03,0.0,91.0,0.000000,0.235520,1.145705,100.0,20.0,32.0,33.0,64.0,64.0,1.098901,0.000000,0.910000,0.090000
36,Noble Don Taylor,2020,2020-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Noble Don Taylor,2020,2020-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Noble Don Taylor,2020,2020-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Noble Don Taylor,2021,2021-01,2.0,91.0,0.021978,-1.542964,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,NaN,NaN,NaN
40,Noble Don Taylor,2021,2021-02,4.0,92.0,0.043478,-1.442960,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,NaN,NaN,NaN
41,Noble Don Taylor,2021,2021-03,2.0,90.0,0.022222,-0.987334,0.664631,26.0,2.0,1.0,2.0,16.0,23.0,0.288889,0.000000,1.000000,0.000000
42,Noble Don Taylor,2021,2021-04,3.0,90.0,0.033333,-0.739211,0.749708,34.0,2.0,1.0,3.0,23.0,31.0,0.377778,0.000000,1.000000,0.000000
43,Noble Don Taylor,2021,2021-05,1.0,79.0,0.012658,-0.428437,0.487804,47.0,4.0,10.0,11.0,36.0,33.0,0.594937,0.000000,0.851064,0.148936
44,Noble Don Taylor,2021,2021-06,4.0,82.0,0.048780,-0.271637,0.599093,54.0,3.0,28.0,28.0,50.0,23.0,0.658537,0.000000,0.333333,0.666667
45,Noble Don Taylor,2021,2021-07,3.0,81.0,0.037037,-0.283429,0.471153,73.0,6.0,36.0,36.0,69.0,31.0,0.901235,0.054795,0.164384,0.780822
46,Noble Don Taylor,2021,2021-08,3.0,92.0,0.032609,-0.007023,0.450662,86.0,4.0,44.0,44.0,82.0,38.0,0.934783,0.069767,0.116279,0.813953
47,Noble Don Taylor,2021,2021-09,0.0,92.0,0.000000,0.007700,0.449753,81.0,7.0,36.0,42.0,75.0,38.0,0.880435,0.074074,0.074074,0.851852
48,Noble Don Taylor,2021,2021-10,0.0,92.0,0.000000,-0.006033,0.489382,82.0,5.0,41.0,46.0,73.0,36.0,0.891304,0.024390,0.073171,0.902439
49,Noble Don Taylor,2021,2021-11,2.0,92.0,0.021739,-0.031069,0.478807,81.0,8.0,38.0,43.0,68.0,35.0,0.880435,0.000000,0.049383,0.950617
50,Noble Don Taylor,2021,2021-12,2.0,91.0,0.021978,-0.160187,0.551897,72.0,4.0,36.0,35.0,58.0,32.0,0.791209,0.013889,0.069444,0.916667
51,Noble Don Taylor,2022,2022-01,3.0,92.0,0.032609,-0.102528,0.564969,73.0,8.0,35.0,35.0,55.0,30.0,0.793478,0.027397,0.054795,0.917808
52,Noble Don Taylor,2022,2022-02,3.0,92.0,0.032609,-0.116372,0.556617,73.0,7.0,34.0,32.0,57.0,32.0,0.793478,0.054795,0.095890,0.849315
53,Noble Don Taylor,2022,2022-03,3.0,90.0,0.033333,-0.114801,0.572204,80.0,10.0,33.0,35.0,58.0,37.0,0.888889,0.037500,0.075000,0.887500
54,Noble Faye Kozack,2021,2021-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Noble Faye Kozack,2021,2021-08,NaN,NaN,NaN,-1.097466,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Noble Faye Kozack,2021,2021-09,NaN,NaN,NaN,-1.108806,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Noble Faye Kozack,2021,2021-10,2.0,69.0,0.028986,-1.122098,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,NaN,NaN,NaN
58,Noble Faye Kozack,2021,2021-11,2.0,92.0,0.021739,-1.118476,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,NaN,NaN,NaN
59,Noble Faye Kozack,2021,2021-12,3.0,91.0,0.032967,-1.032529,0.234458,12.0,0.0,1.0,1.0,12.0,11.0,0.131868,0.000000,0.333333,0.666667

### Unsafe actions column

In [33]:
#new column to find the percentage of each of the columns for the past 120days
full_rm["RM_Unsafe_Actions_percentage_120d"] = full_rm["RM_unsafe_action_120d"] / full_rm["RM_Total_Observations_120d"]
full_rm["RM_Unsafe_Condition_percentage_120d"] = full_rm["RM_unsafe_condition_120d"] / full_rm["RM_Total_Observations_120d"]
full_rm["RM_Unsafe_Condition_Corrected_percentage_120d"] = full_rm["RM_unsafe_condition_corrected_120d"] / full_rm["RM_Total_Observations_120d"]
full_rm["RM_Positive_Observation_percentage_120d"] = full_rm["RM_positive_observations_120d"] / full_rm["RM_Total_Observations_120d"]
full_rm["RM_Action_Taken_percentage_120d"] = full_rm["RM_action_taken_120d"] / full_rm["RM_Total_Observations_120d"]


#drop the columns we don't need
list_to_del=["RM_unsafe_action_120d","RM_positive_observations_120d",
            "RM_unsafe_condition_120d","RM_unsafe_condition_corrected_120d",
            "RM_action_taken_120d"]

full_rm = full_rm.drop(columns=list_to_del)

full_rm.head()

,Rig,year,month_year,RM_Total_Events_120d,RM_Total_WorkingDays_120d,RM_Incidents_per_day,RM_Alpha,RM_Beta,RM_Total_Observations_120d,RM_Report_per_Day,RM_High_risk_percentage_120d,RM_Low_risk_percentage_120d,RM_Medium_risk_percentage_120d,RM_Unsafe_Actions_percentage_120d,RM_Unsafe_Condition_percentage_120d,RM_Unsafe_Condition_Corrected_percentage_120d,RM_Positive_Observation_percentage_120d,RM_Action_Taken_percentage_120d
0,Noble Bob Douglas,2020,2020-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Noble Bob Douglas,2020,2020-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Noble Bob Douglas,2020,2020-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Noble Bob Douglas,2021,2021-01,3.0,92.0,0.032609,-1.542964,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Noble Bob Douglas,2021,2021-02,4.0,92.0,0.043478,-1.442960,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
full_rm.to_csv("./Datasets/full_rm.csv")